body {
    font-size: .7em;
}

table tr {
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    background: #F4F4F5;
    padding: .425em;
    color: #3E3E3D;
    font-family: Arial, Helvetica, sans-serif;
}

table td {
    color: #1A77C8;
}

.table-bordered thead tr th {
    border: none;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 2px solid #ddd;
}

.table-bordered > tbody > tr > th, .table-bordered > thead > tr > th {
    border-left: none;
    border-right: none;
}

.red {
    border-left: 3px solid red !important;
}
